html {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}

a {
  font-size: 16px;
  font-weight: normal;
  color:aquamarine;
}
